.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header h1 {
  margin-top: 0px;
}

.App-link {
  color: #61dafb;
}

.toDoList {
  height: 550px;
  width: 420px;
  border-radius: 20px;
  color: #282c34;
  background-color: #dfdfdf;
  box-shadow: 5px 10px 5px #131418;
}

.toDoList form{
  margin: -15px;
  padding: 0px;
}

.toDoList input {
  height: 60px;
  width: 300px;
  border-radius: 0 0 0 15px;
  font-size: 28px;
}

.toDoList #submitButton {
  margin-left: 15px;
  height: 65px;
  width: 80px;
  border-radius: 0 0 10px 0;
  border: none;
  background-color: #696969;
  color: #dfdfdf;
  font-weight: bolder;
  font-size: 30px;
  box-shadow: 0px 0px 2px 1px rgb(41, 41, 41);
}

.toDoList #submitButton:active {
  box-shadow: 0px 0px 2px 1px rgb(41, 41, 41) inset;
}